@model IEnumerable<DoorsOpen.Models.BuildingImageModel>

@{ ViewData["Title"] = "Index"; }

<h1>Building Image Gallery</h1>

<p>
    <a asp-action="Create">Add New Image</a>
</p>




<table class="table">
    <thead>
        <tr>
            <th>
                Building
            </th>
            <th>
               Picture
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AltText)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @foreach (var building in ViewBag.allBuildingModels)
                {
                    @if (building.Id == item.BuildingId)
                    {
                        @building.Building;
                    }
                }
                
            </td>
            <td>
                <img src=@item.ImageURL alt="" height=100 width=100 />
            </td>
            <td>
                @item.AltText
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>}
    </tbody>
</table>

<div>
    <a href="/BuildingModels">Buildings List</a>
</div>

<script>
     
</script>
